<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="SciChart.UI.Bootstrap" version="3.1.251" targetFramework="net472" />
  <package id="SciChart.UI.Reactive" version="3.1.251" targetFramework="net472" />
  <package id="SciChart.Wpf.UI" version="3.1.251" targetFramework="net472" />
  <package id="SciChart.Wpf.UI.Transitionz" version="3.1.251" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="Unity" version="5.8.11" targetFramework="net472" />
</packages>